
table
{
    border-collapse: separate !important;
}

@media screen and (max-device-width: 800px) and (max-device-height: 1280px){

    #FillDocumnt > form ,
    #FillDocumnt span{
        font-size: 20pt !important;
    }
    .dx-placeholder{
        font-size:18pt;
    }
    .dx-texteditor{
        margin-bottom: 15px;
    }
     img[alt='Добавить значение']{
        width: 50px;
        height: 50px;
        margin-right: -55px !important;
    }
    img[alt='Открыть мои значения'] {
        margin-right: -56px !important;
        margin-top: 50px !important;
        width: 50px;
        height: 50px;
    }
    .dx-texteditor-input,.dx-tag-content{
        font-size:16pt !important;
    }
    .dx-item-content.dx-list-item-content{
        font-size:20pt !important;
    }
    #bsbt3156_TextField1 .dx-placeholder,
    #bsbt3157_TextField1 .dx-placeholder,
    #bsbt3158_TextField1 .dx-placeholder,
    #bsbt3159_TextField1 .dx-placeholder,
    #bsbt3160_TextField1 .dx-placeholder{
        display:none !important;
    }
    #bsbt3156_TextField1,
    #bsbt3157_TextField1,
    #bsbt3158_TextField1,
    #bsbt3159_TextField1,
    #bsbt3160_TextField1{
        font-size: 16pt;
    }
    #bsbt3159_TextField1,{
        margin-bottom: 22px;
    }
    #bsbt3156_TextField1{
        margin-bottom:46px;

    }
    .dx-tag-remove-button:before, .dx-tag-remove-button:after {
        left: 6px;
        margin-top: -11px;
        width: 3px;
        height: 18px;
        background: #606060;
    }
    .dx-tag-remove-button:after {
        left: -1px;
        margin-top: -3px;
        width: 18px;
        height: 3px;
    }
    #bsbt3144_TokenField1{
        margin-bottom:0px;
    }
    #bsbt3154 img{
        width:40px !important;
        height: 40px!important;
        margin-right: -43px !important;
    }
    #btnSubmit, #btnSign{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 2px solid black;
        border-radius: 6px;
        padding: 10px 16px;
        font-size: 30px;
        line-height: 1.3333333;
    }
    .dx-toast-success{
        position: fixed !important;
        width: 100% !important;
        top: initial !important;
        height: 80px !important;
        font-size:24px !important;
        padding-left: 10px;
        padding-top: 10px;
        left: -20px !important;
        bottom: -25px !important;
    }
    .dx-overlay-content.dx-popup-normal{
        min-width:600px !important;
        min-height:450px !important;
        left: -93px !important;
    }
    .dx-datagrid-text-content{
        font-size:20pt;
    }
    .dx-popup-content .dx-datagrid-table{
        font-size:16pt !important;
    }
    .dx-popup-content .dx-icon{
        font-size:1.5em !important;
    }
    .dx-popup-content .dx-column-lines td img{
        min-width:30px;
        min-height:30px;
    }
    .dx-menu-items-container{
        font-size:1.4em !important;
    }
    .dx-sort{
        font-size:17pt !important;
    }
}

div.bs-dx-desktop-widget.bs-dx-text-area {
            display: inline-block;
            width: 95%;
            width: calc(100% - 45px)!important;
            width: -moz-calc(100% - 45px)!important;
            width: -webkit-calc(100% - 45px)!important;
            min-height: 85px;
        }

/*@font-face
{
  font-family: 'DXIcons';
  src: url(icons/dxicons.eot);
  src: url(icons/dxicons.eot) format('embedded-opentype'),url(icons/dxicons.woff) format('woff'),url(icons/dxicons.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
.icon-calendar {
      background: url(icons/calendar.png) no-repeat;
        background-size: 20px 20px;
        background-position: right;
        padding-right: 20px;
}
.icon-delete {
      background: url(icons/system-delete-icon.png) no-repeat;
        background-size: 20px 20px;
        background-position: center;

}

    .text-area-btn {
        width: 40px;
        height: 40px;
        float: right;
        margin-right: -42px;
    }

    .text-area-open-btn {
        margin-top: 42px;
    }

@media (min-device-width: 400px) and (max-device-width: 1280px) {
    .text-area-btn {
        width: 40px;
        height: 40px;
        float: right;
        margin-right: -42px;
    }

    .text-area-open-btn {
        margin-top: 42px;
    }
}



.icon-print {
    background-size: 32px 32px;
            width: 32px;
        height:32px;
        display:block;
    background: url("../Content/icons/scanner.png") no-repeat !important;
}


    .icon-print:hover {
        cursor: pointer;
    }

.dxucPrintButton_DevEx {
    padding: 4px 15px;
    border: 1px solid #A9ACB5;
//    background: #EBEDF2 url('/DXR.axd?r=0_922-5QUKb') repeat-x;
    color: #201F35;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

td.icon-calendar.periodic_cell {
    border-right: 0px !important;

}
td.icon-delete.clear_periodic_cell {
    border-left: 0px !important;
    width: 20px;
    min-width: 20px;
}

   table.AppointmentProgrammBusinessType > tbody > tr > td , table.AppointmentProgrammBusinessType > tr > td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
    }

    table.AppointmentProgrammBusinessType td.collapsed {
        background: url(icons/collapsed.png) no-repeat;
        background-position: center;
        background-size: 18px 10px;
    }

    table.AppointmentProgrammBusinessType td.expanded {
        background: url(icons/expanded.png) no-repeat;
        background-size: 18px 10px;
        background-position: center;
    }

        table.AppointmentProgrammBusinessType td.attention {
        background: url(icons/suggestion.png) no-repeat;
        background-size: 20px 20px;
        background-position: center;
    }

#txtAppointmentProgrammBusinessTypeplannedappointmenttable_rationale_new > div > textarea,

#txtAppointmentProgrammBusinessTypeplannedappointmenttable_rationale_new {
    padding : 0px !important;
}
table.equal_appointment_non_prog td{
    border-style: groove;
    border-width: 1px;
}


#txtAppointmentProgrammBusinessTypeplannedappointmenttable_rationale_new textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.PatientProgramBusinessType {
        width: 800px;
        border-collapse: collapse;
}

table.PatientProgramBusinessType td:nth-child(2) {
    text-align:center;
}

table.PatientProgramBusinessType td {
    word-wrap: normal;
    padding-bottom: 2px;
    padding-top: 2px;
    border: 1px solid black;
}

#FillDocumnt > form > div > div > table:nth-child(3) > tbody > tr{
    vertical-align: top;
}

.pre-preview {
    font-family: 'Times New Roman',monospace;
}

.p-preview {
    display: inline;
    white-space: pre-wrap;
} 


.custom-context-menu-select-only { }

.drop-down-list {
    min-width: 100px;
}

.no-tempate-groups {
    color: red;
    font-size: small;
}

@media screen and (max-device-height: 1280px) and (max-device-width: 800px){
	span.bootstrap-touchspin-postfix{
		font-size:initial 14px !important;
	}
}